# Ignore node_modules and environment files
node_modules
dist
.tmp
out-tsc
coverage

# Ignore editor and OS-specific files
.vscode
.idea
.DS_Store
*.swp

# Ignore logs and temporary files
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Ignore build and configuration files
*.iml
*.sublime-project
*.sublime-workspace

# Ignore local environment files
.env
.env.*
/src/environments/*.ts

# Ignore any other unnecessary files
*.md
*.log
*.bak
